@model BTDLab2.Models.Word

@{
    ViewBag.Title = "CreateWord";
}
    <div class="maintext">
        <font align=" center">
            @using (Html.BeginForm())
            {
                <h2>Создать Слово</h2>
                <fieldset>
                    @Html.LabelFor(model => model.Name, "Слово: ")
                    @Html.EditorFor(model => model.Name)
                    <br />
                    @Html.LabelFor(model => model.Name, "Болезнь: ")
                    @Html.DropDownListFor(model => model.DiseaseId, ViewBag.Diseases as SelectList);
                    <br />
                    <br />
                    <input type="submit" value=" Добавить " />
                    <br />
                    <br />
                </fieldset>
            }
        </font>
        <div>
            @Html.ActionLink("Вернуться назад", "Words")
        </div>
    </div>

